<p> Name: <%= @albums.name %> </p>
<p> Quantity: <%= @albums.quantity %> </p>
<p> Artist ID: <%= Artist.artist_name(@albums.artist_id)%> </p>
<p> <a href="/albums/<%= @albums.id %>/edit"> Modify this Stock </a></p>

<form method="post" action="/albums/<%= @albums.id %>/delete">
    <input type="submit" value="Delete Album" />
</form>
